@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #217373, #173540);
}

main {
    background-color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #161F30;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #3D3D3D;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #84B026;
}

p {
    text-align: justify;
}
